//===========================
//  样式覆盖
//===========================

// 样式修订 HandSome H1 H2 标题
article#post
  & h2
    font-weight: 900
    line-height: inherit
    background: linear-gradient(to bottom,transparent 60%,rgba(189,202,219,.3) 0) no-repeat
    display: initial
    width: auto
    border-bottom: none
  & h3
    font-weight 900

// <kbd></kbd>
kbd
  background-color: #f2f2f2
  color: var(--color-p)
  padding: 3px 5px
  border-radius: 0.25em
  box-shadow: inset 0 -2px 0 hsl(240deg 1% 83%), 0 1px 1px rgba(0,0,0,.05)
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace

// <code></code>
.article code:not([class]) {
    word-break: break-all;
    background: var(--color-codeblock);
    border-radius: 6px;
    font-size: .8125rem;
    padding: 0 .5em;
    margin: 0 .3em;
    overflow-wrap: break-word;
    display: inline-block;
    text-indent: 0
}

// 侧边栏：个人卡片
.blogger .text
  margin-bottom: 10px

// 文章页导航栏标题居中
.l_header #wrapper.sub .nav-sub .title
  margin: 0 auto
  font-size: 1.5rem
  overflow: hidden
  font-weight: 800 !important
  @media screen and (max-width: $device-mobile)
    margin: unset !important
    font-size: 1rem !important

// 标签：缩短 Tab 内时间线标题高度
.tab-pane > .timeline > .h2
  padding-top: 0

// 标签：link 链接居中
.md .tag.link
  text-align: center

// 文章页页脚导航：限制其高度
#l_main .article .prev-next>a p.content
  max-height: 5rem
  overflow: hidden

// details 下的 timelines 高度间距缩短
details .content .timelines-common
  padding 0
  margin-bottom -1em

// 对 a 链接加一个样式
li:not([class]) a:not([class]), 
p:not([class]) a:not([class]), 
table a:not([class]),
.comment-policy-link a {
  position: relative;
  text-decoration: none;
  padding: 0 2px;
  border-radius: 0;
  transition: all .2s ease-out;
  background: linear-gradient(0deg, rgba(32,148,243,0.2), rgba(32,148,243,0.2)) no-repeat left 100% / 100% 0;
  &:hover {
    text-decoration: none;
    border-radius: 4px;
    background: linear-gradient(0deg, rgba(32,148,243,0.2), rgba(32,148,243,0.2)) no-repeat left 100% / 100% 100%;
  }
}

// 移动端不显示卡片
#safearea
  @media screen and (max-width: $device-mobile)
    margin: 0
    box-shadow: none
    .body-wrapper
      padding: 0
    #l_main
      article#comments,
      article#friends,
      article#post,
      article#page,
      article#arc      
        border-radius: 0
      article#cat,
      article#tag
        margin: 0
        border-radius: 0
      .post-wrapper
        margin: 0 0 16px
        .post
          border-radius: 0
    #l_side
      .widget.mobile
        border-radius: 0

// 文章页不显示头图
#l_main .article .headimg-div
  display: none
