:root {
  --text-p2-new: #4d4d4d;
  --block-border-new: #e3e5e8;
  --blur-bg-new: rgba(255,255,255,0.749);
  --block-new: #f1f2f3;
  --text-p3-new: #808080;
  --block-2-new: #e5e6e7;
  --text-p1-new: #333;
  --text-p4-new: #999;
  --theme-color-opa-new: rgba(24,92,109,0.3);
  --theme-color-new: #185c6d;
  --theme-link-opa-new: rgba(32,148,243,0.3);
  --theme-link-new: #2094f3;
  --text-p3-opa-new: rgba(128,128,128,0.3);
  --code-tools-new: #e0e0e0;
  --card-new: #e7e7e7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: 'dark';
  }
  :root:not([color-scheme]) {
    --text-p2-new: #b3b3b3;
    --block-border-new: #383d42;
    --blur-bg-new: rgba(33,36,38,0.749);
    --block-new: #26292c;
    --text-p3-new: #858585;
    --block-2-new: #292d31;
    --text-p1-new: #ccc;
    --text-p4-new: #707070;
    --theme-color-opa-new: rgba(111,168,177,0.3);
    --theme-color-new: #6fa8b1;
    --theme-link-opa-new: rgba(32,148,243,0.3);
    --theme-link-new: #2094f3;
    --text-p3-opa-new: rgba(133,133,133,0.3);
    --code-tools-new: rgba(55,61,67,0.749);
    --card-new: #292e33;
  }
