.nextblogger {
    padding: 20px 10px 10px
}

.nextblogger .site-author-image {
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee;
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    border-radius: 100%;
    -webkit-border-radius: 100%
}

.nextblogger .site-author-box {
    margin-top: 1rem;
    text-align: center
}

.nextblogger .site-author-box .site-author-name {
    font-weight: 600;
    font-size: 1rem;
    color: var(--color-text);
    margin: 0
}

.nextblogger .site-author-box .site-author-description {
    color: var(--color-list);
    margin-top: 2px;
    text-align: center;
    font-size: .85rem
}
