//====================================================//
//                    评论框 Twikoo                   //
//====================================================//
// 输入框等调整
//

// 加载状态下居中
#twikoo_container
  text-align: center